.image-container{
    max-width: 1240px;
}
.image1{
    max-width: 280px;
}
.image2{
    max-width: 380px;
}
.image3{
    max-width: 450px;
}
.image4{
    max-width: 450px;
}
.image5{
    max-width: 280px;
}
.image6{
    max-width: 320px;
}
